.SearchResults {
    width: 100%;
    height: 950px;
    overflow-y: scroll;
    padding: 0.88rem;
    background-color: darkgray;
    box-shadow: 2px 2px 2px 2px #000000;
  }
   
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
   
  @media only screen and (max-width: 1020px) {
    .SearchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }